@font-face {
    font-family: 'Manrope';
    src: url(./fonts/Manrope.woff2) format('woff2');
}

* {
    font-family: 'Manrope';
}

.TimeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 130px;
    width: 150px;
    margin: 0px 10px;

    background-color: white;
}

.TimeNumber {
    color: #1f4a38;
    font-size: 3em;
    font-weight: bold;
}

.TimeUnit {
    color: #40916c;
    font-size: 1em;
    font-weight: bold;
}

.Countdown {
    display: flex;
    justify-content: center;
}

.Date {
    color: #1f4a38;
    font-weight: 600;
}

.LandingPage {
    display: flex;
    flex-direction: column;
    text-align: center;
}