.TimeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 130px;
    width: 150px;
    margin: 0px 10px;

    background-color: white;
}

.TimeNumber {
    color: #1f4a38;
    font-size: xx-large;
    font-weight: bold;
}

.TimeUnit {
    color: #40916c;
    font-size: medium;
    font-weight: bold;
}

.Countdown {
    display: flex;
    justify-content: center;
}

.Date {
    color: #1f4a38;
}

.LandingPage {
    text-align: center;
}