@font-face {
    font-family: 'Manrope';
    src: url(./fonts/Manrope.woff2) format('woff2');
}

* {
    font-family: 'Manrope';
}

.TimeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 120px;
    width: 135px;
    margin: 0px 8px;

    background-color: white;
    border-radius: 5px;
}

.TimeNumber {
    color: #1f4a38;
    font-size: 3em;
    font-weight: bold;
}

.TimeUnit {
    color: #40916c;
    font-size: 1.1em;
    font-weight: bold;
}

.Countdown {
    display: flex;
    justify-content: center;
}

.Date {
    color: #1f4a38;
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px 10px 0px;
}

.BannerDate {
    margin: 15% 0px 30px;
    text-align: right;
}

.LandingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LandingBg {
    max-width: 100%;
}