@font-face {
  font-family: 'Manrope';
  src: url(./fonts/Manrope.woff2) format('woff2');
}

* {
  font-family: 'Manrope';
}

.Canvas {
  display: flex;
  flex-direction: column;
  background-color: #faf5e7;
}